<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/Logo.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Jade Abreu</h3>
      </div>

      <div class="text-center">
        <a href="https://github.com/serengetijade?tab=repositories">My github</a>
      </div>
    </div>
  </div>
</div>
